
h5 {
    color: white;
    background-color: grey;
    
    margin: auto;
}

.custom {
	list-style-type: none;
}

.social{
list-style-type: none;
float: left;
padding-top: 65px;
}

.customTitle{
	background-color: grey;
}

#header{
	background-color: #333;
	color:white;
	padding: 10px 10px;
	

}

#right ul li{
float: right;
}
#bar li a{													/*header*/
	margin-right:25px;
	color: white;

}	

#bar ul li a:hover{											/*header*/
color:blue;

}

#nav3{														/*navbar*/
margin-left: 10px;
padding: 0px 15px;
font-size: 20px;
}

.footer {													/*//footer*/
    background-color: black;
    color: white;
}
